@media (max-width: 1199px) {
    .productos_lista {
        margin-left: 9% !important;
    }
}
@media (max-width: 991px) {
    .productos_lista {
        margin-left: 12.5% !important;
    }
}
@media (max-width: 767px) {
    .productos_lista {
        width: 98% !important;
        margin-left: 1% !important;
        margin-right: 1% !important;
    }
}

.productos_home {
    width: 170px;
    height: 300px;
    border-radius: 5px;
    border: 2px solid darkgreen;
    float: left;
    margin-left: 3%;
    margin-top: 5px;
}
.productos_home img {
    width: 100%;
    margin-top: 10px;
}

.resaltar {
    color: red;
}

.contenedor1{
    border: 2px solid #000000;
    background-color: #ffffff;
    text-align: center;
}

body{
    background-color: black;
}

.alto {
    min-height: 500px;
}

footer {
    margin: auto auto;
    width: 900px;
    height: 35px;
    /*float: right;*/
    clear: both;
}



