@media (max-width: 1199px) {
    .productos {
        margin-left: 9% !important;
        margin-top: 9%;
    }
}
@media (max-width: 991px) {
    .productos {
        margin-left: 14% !important;
        margin-right: 10%;
        margin-top: 14%;
    }
}
@media (max-width: 767px) {
    .productos {
        width: 100%!important;
        margin-left: 1% !important;
        margin-right: 1% !important;
    }
}
.row{
    margin-right: 0px;
    margin-left: 0px;
}

.imagensociales{
    width: 30px;
    height: 30px;
}

.productos {
    width: 170px;
    border-radius: 5px;
    border: 2px solid darkgreen;
    float: left;
    margin-left: 3%;
    margin-top: 5px;
}

.productos img {
    width: 100%;
}

.resaltar {
    color: red;
}

.contenedor1{
    border: 2px solid #000000;
    background-color: #ffffff;
    text-align: center;
}

body{
    background-color: black;
}

.textos {
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#sinmargentop{
    margin-top: auto;
}

.sinbordeultimocircuito{
    float: right;
    height: 240px;
    width: 610px;
}

.imgcircuito{
    width: 140px;
    height: 130px;
}

.fondo{
    background: #ffffff;
}

ul li{
    list-style-type: none;
    color: #ffffff;
}

.marcasproductos img{
    width: 100%;
    opacity: 0.5;
    border: 2px solid transparent;
    margin-left: 4%;
    margin-right: 4%;
}

.marcasproductos img:hover{
    border: 2px solid #6aa444;
    opacity: 1;
}

table tr td img{
    height: 50px;
    width: 50px;
}

.coloreo {
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.sinpaddingform{
    padding-left: 0px;
    padding-right: 0px;
}

a button{
    width:100%;
}
.btn:hover{
    background:#000000;
    color: #ffffff;
}

form p{
    color: #ffffff;
}



