@media (max-width: 1199px) {
    .productos {
        margin-left: 9% !important;
        margin-top: 9%;
    }
}
@media (max-width: 991px) {
    .productos {
        margin-left: 14% !important;
        margin-right: 10%;
        margin-top: 14%;
    }
}
@media (max-width: 767px) {
    .productos {
        width: 100%!important;
        margin-left: 1% !important;
        margin-right: 1% !important;
    }
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}

.contenedor{
    border: 2px solid #000000;
    /*background-color: rgba(147, 148, 143, 0.4);*/
    text-align: center;
    background: #ffffff;
    border-radius: 2%;
}

body{
    background-color: black;
}

/*----------------------------HOME------------------------*/

.imagensociales{
    width: 30px;
    height: 30px;
}

.productos {
    width: 170px;
    border-radius: 5px;
    border: 2px solid darkgreen;
    margin-left: 3%;
    margin-top: 5px;
}

.resaltar {
    color: red;
}

.productos img {
    width: 100%;
}

/*---------------------PRODUCTOS------------------*/

.marcasproductos img{
    width: 100%;
    opacity: 0.5;
    border: 2px solid transparent;
    margin-left: 4%;
    margin-right: 4%;
}

.marcasproductos img:hover{
    border: 2px solid #6aa444;
    opacity: 1;
}

/*-----------------Circuitos-------------------*/
.imgcircuito{
    width: 140px;
    height: 130px;
    padding-bottom: 2%;
}

.busquedaycircuitos{
    background: #ffffff;
    text-align: center;
}

.color{
    color: #000000;
}

/*--------------------------REGISTRO--------------------------*/

.coloreo{
    height: 5px;
    border-top: 0;
    background: #c4e17f;
    border-radius: 5px;
    background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
    background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.sinpaddingform{
    padding-left: 0px;
    padding-right: 0px;
}

/*------------------JUEGO-----------------*/

.fondodados{
    background-image: url("../images/dados/fondodados.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.textojuego{
    color: #ffffff;
}

#margenbot{
    margin-bottom: 10px;
}


/*------------------PARA TODOS--------------------*/

.textos {
    text-align: center;
    border: 2px solid #fff;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#sinmargentop{
    margin-top: auto;
}

.btn{
    width: 100%;
    background: grey;
    border-color: #000000;
    color: #ffffff;
    margin-bottom: 1%;
}

.btn:hover{
    background: #000000;
    border-color: grey;
    color: #ffffff;
}

form p{
    color: #ffffff;
}

footer ul li{
    color: #6aa444;
    list-style:none;
    text-align: center;
}

table thead tr th{
    text-align: center;
}

#li{
    list-style-type: none;
    color: #ffffff;
}

table tr td img{
    height: 50px;
    width: 50px;
}

/*---------------LISTADO-----------------*/

#listadodecoration{
  list-style-type: none;
  color: black;
}

#imagenes {
  width: 100%;
  margin: 20% 4%;
}

.texto {
  margin-top: 1%;
}

/*--------------------ADMIN------------------*/

#imagenesAdmin {
  width: 200%;
  margin: 5% 1%;
}
