header{
    height: 150px;
    width: 900px;
    margin: auto auto;
    background-color: black;
    /*background: rgba(255, 255, 255, 1);*/

}

header tr td a{
    text-decoration: none;
    color:#00ff00;
}

header label{
    color: #6aa444;
}


body{/*
    background-image: url("images/fondo3.jpg");
    background-repeat: no-repeat;
    background-size: auto;*/
    background-color: black;
}

a img{
    border-radius: 10px;
    /*border: 5px solid yellow;*/
    margin: 10px 10px 10px 10px;

}

nav a{
    text-decoration: none;
    /*border: 2px solid grey;*/
    /*background-color: crimson;*/
    /*padding: 15px 53px;*/
    padding-right: 72px;
    padding-left: 71px;
    font-size: 22px;
    color: white;
}

nav a:hover{
    background-color: #0b2310;
    color: white;
}


nav{
    height: 27px;
    width: 898px;
    /*margin: auto auto;*/
    /*background: rgba(200, 54, 54, 1);*/
    margin-top: -15px;
    background-color: #6aa444;
}

nav ul{
    -webkit-padding-start: 0px;
    -moz-padding-start: 0px;
}

nav ul li{
    float: left;
    list-style-type: none;
    width: 170px;
}

ul li{
    list-style-type: none;
    color: black;
}

header form{
    float: right;
}

.headerimglogo{
    width: 20%;
    float: left;
}

header img{
    float: right;
    width: 3%;
}

article{
    height: 680px;
    width: 550px;
    background-color: white;
    margin: auto auto;
    overflow: scroll;
    overflow-x: hidden;
    float: left;
    border-radius: 10px;
    /*border: 5px solid black;*/
}


.home{
    float: left;
    width: 153px;
    height: 200px;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
}

.home img{
    height: 50%;
    border: 4px solid #6aa444;
    border-radius: 20px;
}

/*body div{
    height: 150px;
    width: 900px;
    margin: auto auto;
}*/

aside div h1{
    text-align: center;

    /*width: 300px;*/
    /*border: 5px solid yellow;*/
}

footer {
    margin: auto auto;
    width: 900px;
    height: 35px;
    /*float: right;*/
    clear: both;
}

footer ul li{
    float: left;
    color: #6aa444;
    padding: 0 46px 0 46px;
    border-right: 1px solid;
    margin: 3px 0 3px 0;
}

.sinbordeultimo{
    border: none;
}

footer div{
    margin-top: -15.5px;
    height: 35px;
    width: 899px;
}

.formEstilo{
    font-weight: bold;
    margin: 16px auto auto;
    height: 440px;
    width: 600px;
    border: 5px solid green;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 5px 10px #3d8e00;
}

form p{
    padding-left: 30px;
    padding-top: 5px;
}

.labelregistro{
    padding-top: 10px;
    padding-left: 0px;
    color: grey;
}

.imputenviar{
    float: right;
    margin-right: 10px;
    margin-top: -15px;
}

.divhome{
    background-color: grey;
    height: 709px;
    width: 898px;
    /*width: 898px;*/
    margin: auto auto;
    border-radius: 10px;
}

.divotros{
    background-color: white;
    height: 709px;
    width: 898px;
    margin: auto auto;
    border-radius: 10px;
}

.divdentrodeotro{
    float: right;
    height: 50px;
    width: 200px;
}

h1{
    text-align: center;
    background-color: black;
    color: white;
}

.sectionhome{
    height: 220px;
}

aside{
    float: right;
    width: 300px;
    height: 650px;
    margin-right: 24px;
    margin-top: 15px;
    /*border: 5px solid black;*/
    background-color: #f5f5f5;
    border-radius: 10px;
}

aside div{
    width: 300px;
    margin-right: 28px;
    height: 97px;
}

aside div a{
    margin-top: 38px;
    margin-left: 4px;
    float: left;
    text-decoration: none;
    color: #6aa444;
    font-size: 20px;
}

aside div:hover {
    background-color: black;
}

aside div img{
    float: left;
    margin-top: 38px;
    margin-left: 90px;
}

.columnabusqueda{
    width: 220px;
    height: 682px;
    background-color: white;
    margin: auto auto;
    float: left;
    border-right: 1px solid #6aa444;
}

.circuito{
    float: left;
    height: 280px;
    width: 675px;
    border-bottom: 2px dashed #6aa444;
    overflow-x: hidden;
}


.sinbordeultimocircuito{
    float: right;
    height: 240px;
    width: 610px;
}

.listacircuitos{
    overflow-x: hidden;
    height: 675px;
    /*overflow-y: hidden;*/
}

.transparencia{
    opacity: 0.5;
}

.imgcircuito{
    float: left;
    width: 140px;
    height: 130px;
}

.marcasproductos{
    float: left;
}

.marcasproductos img{
    height: 95px;
    opacity: 0.5;
    border: 2px solid transparent;
}

.marcasproductos img:hover{
    border: 2px solid #6aa444;
    opacity: 1;
}

.sectionproducto{
    height: 515px;
}

aside td img{
    height: 50px;
    width: 50px;
}

aside td {
    text-align: center;
}

.parfilatabla{
    background-color: white;
}

table, th, td{
    border-collapse: collapse;
}

form a{
    text-decoration: none;
    color:black;
}

.textocircuitos{
    text-decoration: none;
    font-weight: bold;
    color: black;
}

div p{
    font-size: 15px;
    margin-left: 10px;
}

/*.imparfilatabla{
    background-color: #f5f5f5;
}*/

/*form label{
    padding-top: 50px;
    color: aqua;
}como agarrar solo el label de registro */


































/*
ul{
    position: relative;
    padding: 0;
    left: 50%;
    float: left;
}

nav{
    border-top: 1px solid cornflowerblue;
    overflow: hidden;
}

header{
    background-color: rgba(116, 20, 10, 0.25);
    background-repeat: no-repeat;
    background-size: auto;
    height: 159px;
    margin: 0%;
}

li a{
    padding: 50px;
}

nav a{
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-size: 20px;
}

nav li {
    border: white solid 2px;
    border-radius: 3px;
    background-color: brown;
    text-align: center;
}

body {
    background-image: url("images/fondo3.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    background-color: black;
}

label{
    color: white;
}

td a{
    color: chocolate;
}

section img{
    position: relative;
    right: 50%;
    margin: 0 auto;
    overflow: auto;
}

div{
    margin: auto auto;
}

.navegador{
    float: left;
    list-style-type: none;
    position: relative;
    right: 50%;
    margin: auto auto;
}

.logo{
    float: left;
}

.registro{
    float: right;
}


p {
    color: darkgreen;
    font-family: cursive;
    font-size:50px;
    background-color: yellow;
}

.clase {
    color: red;
    font-size:50px;
}

a{
    text-decoration: none;
    color: aqua;
}

body {
    background-image: url('http://top1walls.com/walls/space/space-lights-stars-galaxies-bright-1517752-1680x1050.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-color: black;
}

h1{
    color: white;
    text-align: center;
}

div{
    background-color: darkblue;
    border: 6px solid yellow ;
    height: 100px;
    margin: 20px;
    padding: 20px;
    width: 50%;
    float: right;
}

header{
    color: white;
}

section {
    float: left;
    margin: 10px;
    width: 600px;
    background-color: aliceblue;
}

aside {
    float: right;
    margin: 10px;
    width: 320px;
}

footer {
    clear: both;
}
*/

